.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;

  padding: 35px;
  border-radius: 20px;

  color: #fff;
  text-align: center;
}

.subtitle {
  color: var(--color-light);
  font-weight: 500;
  font-size: 18px;
  max-width: 330px;
}

.errorMessage {
  color: var(--color-red);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
  width: 100%;
}

.field {
  position: relative;
}

.label {
  position: absolute;
  top: 50%;
  left: 17px;
  translate: 0 -50%;
  transition-duration: var(--transition-duration);
  color: var(--color-gray-700);
  cursor: text;
  user-select: none;
}

.labelShrink {
  scale: 0.7;
  translate: -1.5em -2.6em;
}

.labelColor {
  color: var(--color-light);
}

.input {
  background: none;
  color: var(--color-light);
  font-size: 16px;
  border: 2px solid var(--color-gray-800);
  border-radius: 12px;
  padding: 8px;
  transition-duration: var(--transition-duration);
  width: 100%;
  max-width: 260px;

  &:focus {
    outline: none;
    background-color: var(--color-gray-700);
    border-color: var(--color-light);
  }
}