.glassDiv {
  background: var(--block-background);
  border: var(--border);

  backdrop-filter: blur(22px);
  -webkit-backdrop-filter: blur(22px);
  overflow: hidden;
}

.hasCircles {
  &::before,
  &::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    filter: blur(40px);
    opacity: 0.35;
    z-index: -1;
    animation: flashing 10s infinite;
  }

  &::before {
    width: 50%;
    height: 50%;
    top: -15%;
    left: -18%;
    background: radial-gradient(circle, var(--color-light-op-05), #00000000);
  }

  &::after {
    width: 65%;
    height: 65%;
    bottom: -18%;
    right: -23%;
    opacity: 0.25;
    background: radial-gradient(circle, var(--color-light-op-05), #00000000);
  }
}

@keyframes flashing {
  0%,
  100% {
    opacity: 0.35;
  }

  50% {
    opacity: 0.5;
  }
}
