.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(20px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.block {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;
  border: var(--border);
  background: var(--color-black-op-05);
  padding: 32px 40px;
  border-radius: 20px;
}

.closeCross {
  position: absolute;
  top: 6px;
  left: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  color: var(--color-light);
  padding: 3px;
  transition-duration: var(--transition-duration);
  border: 1px solid transparent;
  border-radius: 14px;

  &:hover {
    filter: drop-shadow(0 0 5px var(--color-light));
  }

  svg {
    rotate: 45deg;
  }
}
