:root {
  --laptop: 1023px;
  --mobile: 767px;
  --mobile-s: 480px;

  --container-width: 1200px;
  --container-padding-x: 16px;

  --font-family: 'Roboto', sans-serif;

  --color-light: #ffffff;
  --color-light-op-02: #ffffff20;

  --color-black: #000000;
  --color-raisin-black: #282728;

  --color-gray-700: #515151;
  --color-gray-800: #3b3b3b;

  --color-midnight: #121820;

  --color-graphite: #353a3e;
  --color-graphite-01: #3d4952;

  --color-red: #fe080a;

  --transition-duration: 0.2s;
  --transition-duration-long: 0.4s;
}
