.button {
  padding: 10px 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(255, 255, 255, 0);
  border: var(--border);

  backdrop-filter: blur(22px);
  -webkit-backdrop-filter: blur(22px);

  color: #fff;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  transition-duration: var(--transition-duration);

  &:hover {
    border-color: var(--color-light);

    background: rgba(255, 255, 255, 0.03);
  }
}
